/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Arimo:wght@500&display=swap');

/* regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* regole del body  */
body {
    font-family: 'Anton', sans-serif;
    background-color: rgb(243, 241, 241);
}

/* stile dell'header  */
header {
    width: auto;
    height: 130px;
    background-color: white;
    padding: 20px;
    display: flex;
}
/* margine del main */
main{
    margin-top: 35px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

/* stile del logo  e titolo */
#logo {
    width: auto;
    height: 80px;
}

#title-first {
    font-size: 50px;

}
/* container principale */
.container {
    width: 60%;
    height: 800px;
    margin: 0px auto;
    margin-top: 3px;
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    
}

/* frame superiore */

.over {
height: 70px;
}

#button-frame {
    margin-left: 50px;
}



/* regole generale del bottone */
.button {
    background-color: rgb(109, 132, 217);
    border-radius: 7px;
    width: 90px;
    height: 40px;
    color: white;
    font-size: 15px;
    border-color: rgb(109, 132, 217);
}

.button-w {
    background-color: white;
    color: grey;
    border-color: grey;
}

.container-task {
    margin-left: 50px;
    width: auto;

}


.task {
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

/* checkbox style  */
.chkbox {
    width: auto;
    margin: 25px 0;
    display: flex;
    align-items: center;
    user-select: none;
    
}

.chkbox label {
    font-size: 25px;
    color: rgb(75, 75, 75);
    position: absolute;
    z-index: 10;
    padding-left: 50px;
    cursor: pointer;

}


.chkbox input {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

.chkbox input:checked~.check {
    border-color: #00ff8f;
    box-shadow: 0px 0px 0px 15px #00ff8f inset;
}

.chkbox input:checked~.check::after {
    opacity: 1;
    transform: scale(1);
}

.chkbox .check {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 100px;
    background-color: #FFF;
    border: 2px solid #00ff8f;
    box-shadow: 0px 0px 0px 0px #00ff8f inset;
    transition: all 0.15s cubic-bezier(0, 1.05, 0.72, 1.07);

}

.chkbox .check::after {
    content: '';
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 4;
    position: absolute;
    transform: scale(0);
    background-size: 50%;
    background-image: url("https://webdevtrick.com/demos/checkmark.svg");
    background-repeat: no-repeat;
    background-position: center;
    transition-delay: 0.2s !important;
    transition: all 0.25s cubic-bezier(0, 1.05, 0.72, 1.07);
}

/* stile delle categorie*/
.cat{
    margin-left: 350px;
    background-color: rgba(81, 0, 255, 0.435);
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 20px;
    color: white;
    font-weight: 100;
}

/* colori delle categorie */

/* verde */
.colorgr{
background-color: rgba(93, 134, 31, 0.474);
}
/* arancione */
.coloror{
background-color: rgba(255, 166, 0, 0.581);

}
/* rosso */
.colorred{

background-color: rgba(255, 0, 0, 0.429);
}
/* marrone */
.colorbr{
background-color: rgba(165, 42, 42, 0.48);

}

.colorviolet{
    background-color: violet;
}